body, #root {
  height: 500px;
  width: 500px;
}

#root {
  background: #222;
  background: radial-gradient(#333333eb, #11111100);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
