@import './reset.css';

body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  background-color: #222;
  border: 1px solid #333333;
  display: flex;
}

.column {
  flex: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.score {
  padding: 20px;
}

.score h1 {
  font-size: large;
}

.score table {
  width: 100%;
}

.score .table {
  display: inline-block;
}

th {
 text-align: left;
}

.score .table .cell {
  width: 12px;
  height: 12px;
  padding: 5px;
}

.left-column .table {
  background: radial-gradient(#333333eb, #11111100);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.table .cell {
  border: 1px solid #333333;
  width: 25px;
  min-width: 25px;
  max-width: 25px;

  height: 25px;
  min-height: 25px;
  max-height: 25px;
}

.died {
  text-decoration: line-through;
}

.table-container {
  position: relative;
    display: inline-block;
}

.game-over {
  height: 100%;
  top: 0px;
  left: 0px;
  font-size: xx-large;
  background-color: rgba(255,125,35,0.5);
  position: absolute;
  width: 100%;
  text-align: center;
  display: table; 
}

.game-over span {
  display: table-cell;
  vertical-align: middle;
}
